.editBtn {
  background-color: #9ca3af;
}

.editBtn:hover {
  background-color: #9ca3af !important;
}

.addnewBtn {
  box-shadow: none !important;
}
.addnewBtn:hover {
  background-color: transparent !important;
}

.saveChangesBtn {
  background-color: #0eb54e !important;
}
.saveChangesBtn:hover {
  background-color: #0eb54e !important;
}

.signupWithGoogle {
  background-color: #4884f4 !important;
  line-height: 0 !important;
}

.signupWithGoogle:hover {
  background-color: #3268cf !important;
}

.continueBtn {
  background-color: #ff8c04 !important;
  box-shadow: 0px 4px 25px rgba(253, 143, 2, 0.33) !important;
}

.continueBtn:hover {
  background-color: #f18304 !important;
}

.goBack {
  color: hsl(0, 0%, 26%) !important;
  padding: 3px 7px 3px 4px !important;
  border-radius: 8px !important;
}

.goBack:hover {
  background-color: #d8d8d8 !important;
}

.addNumber {
  background-color: #1f2937 !important;
  /* padding-top: 0 !important;
    padding-bottom: 0 !important; */
  font-size: 12px !important;
  position: relative;
  top: 15px;
}

.addNumber:hover {
  background-color: #000000 !important;
}

.spanBtn {
  color: #656565 !important;
  background-color: #e9e9e9 !important;
  font-size: 15px !important;
  padding: 0 5px !important;
  margin: 5px;
  cursor: pointer;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  background-color: white !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #1f2937 !important;
  color: white !important;
}

.css-1gsv261 {
  margin-top: 20px;
  border-bottom: none !important;
}

.css-1aquho2-MuiTabs-indicator {
  background: none !important;
}

.continueBtn {
  position: relative;
  bottom: 0 !important;
}
