.sideNav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18rem;
  background-color: var(--theme-gray);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-right: 1.25rem;
  transition-duration: 400ms;
}

.sideNav.collapsed {
  width: 6rem;
}

.sideNav .collapseBtn {
  padding: 0.1rem;
  position: absolute;
  top: 2.75rem;
  right: -0.75rem;
  height: 1.75rem;
  width: 1.75rem;
  border: 2px solid var(--theme-gray);
  background-color: var(--white);
  border-radius: 9999px;
  margin-top: auto;
  margin-bottom: auto;
  transition-duration: 400ms;
}

.sideNav.collapsed .collapseBtn {
  transform: rotate(180deg);
}

.sideNav .logoContainer {
  display: flex;
  height: 7rem;
  margin: 1rem;
  margin-bottom: 0rem;
  padding: 0.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid var(--white);
}

/* TODO  */
/* .sideNav.collapsed .logoContainer {
} */

.sideNav .optionsContainer {
  padding-top: 2rem;
}
.sideNav .sideNav-option {
  display: flex;
  height: 3.5rem;
  padding: 1rem;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  cursor: default;
  transition-duration: 200ms;
  /* animation-delay: 1000ms; */
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-300);
}

.sideNav .sideNav-option.selected {
  color: var(--theme-orange);
  background-color: rgba(255, 255, 255, 0.1);
}

.sideNav .optionName {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  width: 80%;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: left;
}

.sideNav-icon {
  min-width: 24px;
  max-height: 100%;
  max-width: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.sideNav.collapsed .optionName {
  display: none;
}

.sideNav .selected .optionName {
  font-weight: 500;
}

.sideNav .sideNav-option.selected:hover {
  color: var(--theme-orange);
  background-color: rgba(255, 255, 255, 0.1);
}

.sideNav .sideNav-option:hover {
  color: var(--white);
  background-color: var(--gray-900);
}

.sideNav .profileOperations {
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: 0.75rem;
}

.sideNav .profileDetails {
  display: flex;
  vertical-align: bottom;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  cursor: default;
  color: var(--white);
  border-radius: 0.5rem;
}

.sideNav .profileImg {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
}

.sideNav .usernameContainer {
  padding-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
}

.sideNav.collapsed .usernameContainer {
  display: none;
}

.sideNav .username {
  width: 185px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
}

.sideNav .userRole {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-400);
  display: block;
}
