.tier {
  font-weight: bold;
  color: var(--theme-orange);
  text-transform: uppercase
}

.highlightTier {
  background-color: rgba(253, 143, 2, 0.15)!important;
  border: 1px solid var(--theme-orange)!important;
}

.icon {
  min-width: 24px;
  max-height: 100%;
  max-width: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.tierPoints {
  color: var(--gray-900)
}
