@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './assets/css/sideNav.css';

:root {
  --white: #ffffff;
  --theme-orange: #fd8f02;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-900: #111827;
  --theme-gray: #1f2937;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: Inter, Roboto, sans-serif;
}

a {
  text-decoration: none;
}

/* Layout styles - Start */
.outerContainer {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  grid-template-columns: 1fr minmax(calc(100vw - 18.8rem), calc(100vw - 6.8rem));
  grid-template-rows: 100px 1fr;
  grid-template-areas: 'sidenav header' 'sidenav content';
}

.sideNav {
  grid-area: sidenav;
}

.header {
  grid-area: header;
  background-color: coral; /* Remove later */
}

.content {
  grid-area: content;
  background-color: crimson; /* Remove later */
}
/* Layout styles - End */

/* Custom typography styles - Start */
.primaryText {
  color: "#374151";
  font-size: "18px";
}

.secondaryText {
  color: "#94A3B8";
  font-size: "16px";
}

/* Custom typography styles - End  */

/* You can add global styles to this file, and also import other style files */
